
ion-grid {
    --ion-grid-width-xs: 100%;
    --ion-grid-width-sm: 540px;
    --ion-grid-width-md: 540px;
    --ion-grid-width-lg: 540px;
    --ion-grid-width-xl: 540px;
}

ion-card {
    min-width: 180px;
    margin: 0;
}

ion-skeleton-text {
    height: 20px;
}

h3 {
    margin-top: 8px;
}